<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    {{! Styles }}
    <link href="//fonts.googleapis.com/css?family=Poppins:300,400,700" rel="stylesheet"/>
    <link href="/assets/css/style.css" rel="stylesheet"/>

    {{! Scripts }}
    <script src="/assets/js/main.js"></script>

    {{! Responsive Meta Tags }}
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{ghost_head}}
</head>
<body class="{{body_class}}">
    <canvas id="animation"></canvas>
    <div class="wrapper_mist">
        {{{body}}}
    </div>
    {{ghost_foot}}
</body>
</html>